.about-container {
  height: 90vh;
  width: 90vw;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  margin: 2.5% 0;

  padding: 2.5% 0% 0% 0%;
}

.about-content {
  height: 83%;
  margin: 0% 6%;
  display: flex;
  flex-direction: row;
}
.section-title {
  width: 100%;
  height: 17%;
  padding: 2.5% 6%;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.9em;
  color: white;
  font-weight: 800;
  letter-spacing: 0.6em;
  line-height: 0.5em;
  border-bottom: 5px solid grey;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-personal {
  padding-right: 5%;
  width: 50%;
}
.about-skills {
  padding-right: 5%;
  width: 50%;
  margin-bottom: 5%;
}
.personal-title {
  font-size: 1.4em;
  margin-bottom: 8%;
  letter-spacing: 0.7em;
  font-weight: 500;
}

.personal-intro {
  font-size: 0.8em;

  /* margin:0% 20%; */
  text-align: center;
  line-height: 2em;
  margin-bottom: 6%;
}

.education {
  letter-spacing: 0.1em;
  font-size: 1.02em;
  color: navy;
}
.education ul {
  list-style-type: none;
  text-align: left;
  line-height: 2em;
  margin: 3.5% 8%;
  color: black;
  text-align: center;
  font-size: 0.9em;
}
.personal-point {
  text-align: left;
  margin: 3% 0%;
  color: indigo;
  text-align: center;
  letter-spacing: 0.3em;
}

.about-skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;

  height: 90%;
}

.about-skills-list::-webkit-scrollbar {
  width: 0.1em;
}

.about-skills-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.about-skills-list::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

.about-skill-item {
  padding: 4%;
  width: 73%;
  margin-bottom: 3%;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
  border: 2px solid cornflowerblue;
  transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.about-skill-item:hover {
  transform: scale(1.1);
}
