.end-container{
    height:90vh;
    width: 90vw;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5% 0;
    padding: 2.5% 0% 0% 0%;
    border: 3em solid slategrey;
    
}

.end-git-button{
    color : white;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    padding: 3%;
    border-radius: 10%;
    background-image: url("../../assets/title-background.jpg");
    margin-bottom: 3%;
    transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
}

.end-git-button:hover{
    background-image: url("../../assets/Celestial.jpg");;
}

.end-item{
    line-height: 2.5em;
    letter-spacing: 0.3em;
    font-size: 1.2em;
    margin:0.5%;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.end-item-icon{
    margin-right: 1.5%;
    color: navy;
    font-size: 1em;
    
}