*{
  margin: 0;
  padding: 0;
}

html { 
  background: url(assets/title-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size:100% ;
}

.App{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 100vh; */
  
    font-family: 'Montserrat', sans-serif;  
}
.entire-project{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.portrait-warning{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: black;
  text-align: center;
}


@media (min-width: 1200px) and (max-width:1400px) {
  html { font-size: 85%; }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  html { font-size: 75%; }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation:landscape)  {
  html { font-size: 45%; }
}
@media (orientation: portrait){
  .portrait-warning{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .entire-project{
    display: none;
  }
}