.works-container {
  height: 90vh;
  width: 90vw;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: row-reverse;
  margin: 2.5% 0;
  padding: 0% 0% 0% 0%;
}
.work-section-title {
  width: 15%;
  height: 100%;
  padding: 3% 6%;
  text-transform: uppercase;
  font-size: 3.8rem;
  color: white;
  float: left;
  font-weight: 800;
  word-wrap: break-word;
  line-height: 2.3em;
  background-color: black;
  border-right: 5px solid grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.work-cards {
  margin: 4% 2%;
  overflow-y: scroll;
}

.work-cards::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}
.work-cards::-webkit-scrollbar-track {
  background: grey; /* color of the tracking area */
}
.work-cards::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 5px solid black; /* creates padding around scroll thumb */
}
